/* For divs to show up, set z-index to 1000*/

/* For divs to show up, set z-index to 1000*/

/* For divs to show up, set z-index to 1000*/



body {
    cursor: pointer;
    overflow: hidden;
  }

 /*Nav bar and Content styling*/ 
.container {
  z-index: 1;
  font-size: 30px;
  color: aliceblue;
  text-shadow: 3px 3px 3px #000000;
}
 /*Nav bar and Content styling*/ 
#first {
  font-size: 20px;
  color: rgb(208, 221, 199);
  position:fixed;
  top: 50%;
  text-shadow: 3px 3px 3px #000000;
}

/* Bird Crane Animation Start */
/* Bird Crane Animation Start */
/* Bird Crane Animation Start */
body {
	background: #fcfcfc;
	background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 0%, #a4adac 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfcfc), color-stop(100%,#a4adac));
	background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#a4adac 100%);
	background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#a4adac 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#a4adac 100%);
	background: radial-gradient(ellipse at center,  #fcfcfc 0%,#a4adac 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#a4adac',GradientType=1 );
}
/* Base */
.bird {
	position: absolute;
	margin: auto;
	top: 20%; right: 0; left: 0;
	width: 276px;
	height: 215px;
	margin-top: -108px;
	-webkit-animation: birdFly 12s ease 0s infinite;
	-o-animation: birdFly 12s ease 0s infinite;
	animation: birdFly 12s ease 0s infinite;
}
.part {
	position: absolute;
	background:none;
	overflow: hidden;
}
.part:after {
	content: '';
	background-color: #0086ca;
	position: absolute;
	margin: auto;
	height: 141.42%;
	width: 70.71%;
	-webkit-animation: birdColor 6s linear 0s infinite;
	-o-animation: birdColor 6s linear 0s infinite;
	animation: birdColor 6s linear 0s infinite;
}
.part:after {
	top: 0;
	right: -70.71%;
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);

}
/* Params */
.part:nth-child(1) {
	bottom: 0;
	left: 58px;
	width: 140px;
	height: 140px;
	-webkit-transform-origin: bottom left;
	-moz-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	-o-transform-origin: bottom left;
	transform-origin: bottom left;
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);
	z-index: 10000;
}
.part:nth-child(1):after {
	-webkit-box-shadow:inset -80px 0 120px -100px #000;
	box-shadow:inset -80px 0 120px -100px #000;
}

.part:nth-child(2) {
	top: 0;
	right: 212px;
	width: 85px;
	height: 85px;
	-webkit-transform-origin: top right;
	-moz-transform-origin: top right;
	-ms-transform-origin: top right;
	-o-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: rotate(-65.3deg);
	-moz-transform: rotate(-65.3deg);
	-ms-transform: rotate(-65.3deg);
	-o-transform: rotate(-65.3deg);
	transform: rotate(-65.3deg);
	z-index: 10000;
	
}
.part:nth-child(2):after {
	-webkit-box-shadow:inset -95px -120px 120px -120px #000;
	box-shadow:inset -95px -120px 120px -120px #000;
}

.part:nth-child(3) {
	top: 79px;
	left: 174px;
	width: 78px;
	height: 78px;
	-webkit-transform: rotate(-200deg);
	-moz-transform: rotate(-200deg);
	-ms-transform: rotate(-200deg);
	-o-transform: rotate(-200deg);
	transform: rotate(-200deg);
	z-index: 10000;
}
.part:nth-child(3):after {
	-webkit-box-shadow: inset -40px 50px 80px -50px #000;
	box-shadow: inset -40px 50px 80px -50px #000;
}

.part:nth-child(4) {
	top: 79px;
	right: 14px;
	width: 52px;
	height: 52px;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	z-index: 10000;
}
.part:nth-child(4):after {
	-webkit-box-shadow: inset -30px 50px 50px -30px #000;
	box-shadow: inset -30px 50px 50px -30px #000;
}

.part:nth-child(5) {
	bottom: 11px;
	left: 10px;
	width: 67px;
	height: 67px;
	-webkit-transform:  rotate(25deg);
	-moz-transform:  rotate(25deg);
	-ms-transform:  rotate(25deg);
	-o-transform:  rotate(25deg);
	transform:  rotate(25deg);
	z-index: 10000;
}
.part:nth-child(5):after {
	-webkit-box-shadow: inset -40px 40px 60px -40px #000;
	box-shadow: inset -40px 40px 60px -40px #000;
}

.part:nth-child(6) {
	bottom: -20px;
	left: -11px;
	width: 42px;
	height: 42px;
	-webkit-transform: rotate(205deg);
	-moz-transform: rotate(205deg);
	-ms-transform: rotate(205deg);
	-o-transform: rotate(205deg);
	transform: rotate(205deg);
	z-index: 10000;
}
.part:nth-child(6):after {
	-webkit-box-shadow: inset -30px -30px 65px -40px #000;
	box-shadow: inset -30px -30px 65px -40px #000;
}
/* Animation */
@-webkit-keyframes birdColor {
	0% {background: #2ecc71;}
	33%{background: #f39c12;}
	66%{background: #e74c3c;}
	100%{background: #2ecc71;}
}
@-moz-keyframes birdColor {
	0% {background: #2ecc71;}
	33%{background: #f39c12;}
	66%{background: #e74c3c;}
	100%{background: #2ecc71;}
}
@-ms-keyframes birdColor {
	0% {background: #2ecc71;}
	33%{background: #f39c12;}
	66%{background: #e74c3c;}
	100%{background: #2ecc71;}
}
@-o-keyframes birdColor {
	0% {background: #2ecc71;}
	33%{background: #f39c12;}
	66%{background: #e74c3c;}
	100%{background: #2ecc71;}
}
@keyframes birdColor {
	0% {background: #2ecc71;}
	33%{background: #f39c12;}
	66%{background: #e74c3c;}
	100%{background: #2ecc71;}
}
@-webkit-keyframes birdFly {
	50% {margin-top:-50px;}
}
@-moz-keyframes birdFly {
	50% {margin-top:-50px;}
}
@-ms-keyframes birdFly {
	50% {margin-top:-50px;}
}
@-o-keyframes birdFly {
	50% {margin-top:-50px;}
}
@keyframes birdFly {
	50% {margin-top:-50px;}
}

/* Bird Crane Animation End */
/* Bird Crane Animation End */
/* Bird Crane Animation End */


/*Fish Animation Start*/
/*Fish Animation Start*/
/*Fish Animation Start*/

svg#fish {
/*Fish Animation Height Level*/
  top: 45em;
}
/* Fish Animation */
svg.fish{
  overflow:visible;
}

@-webkit-keyframes swim
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

@keyframes swim
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
  z-index: 10000;
	width: 235px;
	height: 104px;
	margin-left: -235px;
  position: absolute;	
	animation: swim 300s;
	-webkit-animation: swim 300s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

svg #fish1,
svg #fish2,
svg #fish3,
svg #fish4,
svg #fish5,
svg #fish6 {
fill:#528484;
  
    -moz-animation: bounce 6s infinite;
  -webkit-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
}

svg #fish2{
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}

svg #fish3{
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}

svg #fish4{
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

svg #fish5{
	animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}

svg #fish6{
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
/*Fish Animation End*/
/*Fish Animation End*/
/*Fish Animation End*/






/*Sun Horizon Animation Starts*/
/*Sun Horizon Animation Starts*/
/*Sun Horizon Animation Starts*/
  #sun {
      position: absolute;
      top: 0px;
      left: 0%;
      width: 100%;
      height: 50%;
      background-repeat: no-repeat;   
    background: -webkit-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
    background: -moz-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
    background: -ms-radial-gradient(bottom, circle, rgba(242,248,247,1) 0%,rgba(249,249,28,1) 3%,rgba(247,214,46,1) 8%, rgba(248,200,95,1) 12%,rgba(201,165,132,1) 30%,rgba(115,130,133,1) 51%,rgba(46,97,122,1) 85%,rgba(24,75,106,1) 100%);
    
    z-index: 1;
    opacity: 0.5;
    }
  
  #sunDay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;   
    background: -webkit-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
    background: -moz-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
    background: -ms-radial-gradient(bottom, circle, rgba(252,255,251,0.9) 0%,rgba(253,250,219,0.4) 30%,rgba(226,219,197,0.01) 70%, rgba(226,219,197,0.0) 70%,rgba(201,165,132,0) 100%);
    
      z-index: 1;
       opacity: 0.5;
  }
  
  #moon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;   
    background: -webkit-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
    background: -moz-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
    background: -ms-radial-gradient(40% 55%, circle, rgba(249,249,250,1) -1%, rgba(189,255,254,1) 1%, rgba(8,49,78,1) 1%, rgba(8,26,56,1) 10%, rgba(4,16,46,1) 40%, rgba(2,8,13,1) 70%);
    
    z-index: 10000;
    opacity: 0;  
  }
  
  #sunSet {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;   
      background: -webkit-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
      background: -moz-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
      background: -ms-radial-gradient(bottom, circle, rgba(254,255,255,0.8) 5%,rgba(236,255,0,1) 10%,rgba(253,50,41,1) 25%, rgba(243,0,0,1) 40%,rgba(93,0,0,1) 100%);
     
      z-index: 1;
       opacity: 0.3;
  }
  
  #sky {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 1; 
     background: -webkit-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
     background: -moz-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
     background: -ms-linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
     background: linear-gradient(bottom, rgba(249,251,240,1) 10%, rgba(215,253,254,1) 20%, rgba(167,222,253,1) 40%, rgba(110,175,255,1) 100%); 
     opacity: 0.52;
  }
  
  #starsContainer {
    -webkit-perspective: 350;
    -moz-perspective: 350;
    perspective: 350;
    -webkit-perspective-origin: 50% 300%;
    perspective-origin: 50% 300%;
    -moz-perspective-origin: 50% 300%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: -50%;
    width: 200%;
    height: 50%;
    z-index: 1;
    opacity: 0;
    display:none;
  }
  
  #stars {
    background-repeat: repeat;
    background: url(stars.jpg);
    position: absolute;
    width: 200%;
    height: 200%;
    left: -50%;
    bottom: 0px;
    opacity: 0.5;
      -webkit-transform: rotateX(-90eg); 
      transform: rotateX(-90deg);
      -moz-transform: rotateX(-90deg);
      -ms-transform: rotateX(-90deg);
  }
  
  #mountainRange {
    position: absolute;
    left: 0px;
    width: 100%;
    bottom: 50%;
    display:none;
    z-index: 999;
  }
  
  .star {
     position: absolute;
     display: block;
     color: #fff;
     width: 0px;
     height: 0px;
     border-right:  10px solid transparent;
     border-bottom: 7px  solid #fff;
     border-left:   10px solid transparent;
     -moz-transform:    rotate(35deg);
     -webkit-transform: rotate(35deg);
     -ms-transform:     rotate(35deg);
     -o-transform:      rotate(35deg);
     z-index: 1;
     opacity: 0.09;
     display:none;
  }
  
  .star:before {
     border-bottom: 8px solid #fff;
     border-left: 3px solid transparent;
     border-right: 3px solid transparent;
     position: absolute;
     height: 0;
     width: 0;
     top: -5px;
     left: -6px;
     display: block;
     content: '';
     -webkit-transform: rotate(-35deg);
     -moz-transform:    rotate(-35deg);
     -ms-transform:     rotate(-35deg);
     -o-transform:      rotate(-35deg);
  }
  .star:after {
     position: absolute;
     display: block;
     color: #fff;
     top: 0px;
     left: -10px;
     width: 0px;
     height: 0px;
     border-right: 10px solid transparent;
     border-bottom: 7px solid #fff;
     border-left: 10px solid transparent;
     -webkit-transform: rotate(-70deg);
     -moz-transform:    rotate(-70deg);
     -ms-transform:     rotate(-70deg);
     -o-transform:      rotate(-70deg);
     content: '';
  }
  
  #mountain {
    border-bottom: 100px solid #000;
    border-right: 100px solid transparent;
    border-width-right: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    bottom: 50%;
    z-index: 1;
  }
  
  #horizon {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;  
    z-index: 1; 
     background: -webkit-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
     background: -moz-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
     background: -ms-linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
     background: linear-gradient(bottom, rgba(212,87,43,0.9) 0%, rgba(246,149,52,0.8) 20%,rgba(24,75,106,0) 100%);
     opacity: 0.99;
  }
  
  #horizonNight {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;  
    z-index: 1; 
    background: -webkit-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
    background: -moz-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
    background: -ms-linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
    background: linear-gradient(bottom, rgba(57,167,255,1) 0%, rgba(13,98,245,1) 20%,rgba(0,11,22,0.1) 60%);
    opacity: 0;
  }
  
  #darknessOverlaySky {
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 9999;
  }
  
  #darknessOverlay {
    cursor: default;
    background-color: #000;
    opacity: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    z-index: 99;
  }
  
  #waterDistance {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat; 
     background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%);  
     background: -moz-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%); 
     background: -ms-linear-gradient(90deg, rgba(0,0,0,0.0) 10%,rgba(0,0,0,0.20) 44%,rgba(0,0,0,0.65) 95%,rgba(0,0,0,0.62) 100%); 
    z-index: 1;
  }
  
  #water {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;   
      background: -webkit-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
      background: -moz-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
      background: -ms-linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
      background: linear-gradient(bottom, rgba(0,25,45,1) 0%,rgba(14,71,117,1) 35%, rgba(26,126,174,1) 70%, rgba(62,168,220,1) 100%); 
  
    z-index: 1;
  }
  
  #waterReflectionContainer {
    -webkit-perspective: 30;
    perspective: 30;
    -webkit-perspective-origin: 50% -12%;
    perspective-origin: 50% -12%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: -3%;
    width: 103%;
    height: 50%;
    z-index: 1;
  }
  
  #waterReflectionMiddle {
    position: absolute;
    top: 0px;
    left: -50%;
    width: 200%;
    height: 55%;
    background-repeat: no-repeat;   
     background: -webkit-radial-gradient(50% 0px, rgba(247,177,72,1) 3%,rgba(248,175,65,1) 6%,rgba(207,62,30,0.4) 35%,rgba(176,91,48,0.1) 45%,rgba(141,88,47,0.0) 60%,rgba(116,82,63,0.0) 70%,rgba(44,65,68,0.0) 80%,rgba(7,19,31,0.0) 100%); 
     background: -moz-radial-gradient(50% 0px, rgba(247,177,72,1) 3%,rgba(248,175,65,1) 6%,rgba(207,62,30,0.4) 35%,rgba(176,91,48,0.1) 45%,rgba(141,88,47,0.0) 60%,rgba(116,82,63,0.0) 70%,rgba(44,65,68,0.0) 80%,rgba(7,19,31,0.0) 100%); 
     background: -ms-radial-gradient(50% 0px, rgba(247,177,72,1) 3%,rgba(248,175,65,1) 6%,rgba(207,62,30,0.4) 35%,rgba(176,91,48,0.1) 45%,rgba(141,88,47,0.0) 60%,rgba(116,82,63,0.0) 70%,rgba(44,65,68,0.0) 80%,rgba(7,19,31,0.0) 100%); 
     
    z-index: 1;
    opacity: 0.7;
    -webkit-transform: rotateX(45deg); 
  }
  
  #waterReflectionMiddleThin {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;   
     background: -webkit-linear-gradient(left, rgba(69,70,61,0.0) 3%,rgba(216,100,38,0.10) 32%,rgba(252,176,48,0.35) 35%,rgba(253,215,79,1) 45%,rgba(253,254,225,1) 48%,rgba(253,254,225,1) 52%, rgba(024,194,214,1) 55%, rgba(034,204,234,0.10) 65%, rgba(034,204,234,0.10) 60%, rgba(034,204,234,0.0) 97%); 
     background: -moz-linear-gradient(left, rgba(69,70,61,0.0) 3%,rgba(216,100,38,0.10) 32%,rgba(252,176,48,0.35) 35%,rgba(253,215,79,1) 45%,rgba(253,254,225,1) 48%,rgba(253,254,225,1) 52%, rgba(024,194,214,1) 55%, rgba(034,204,234,0.10) 65%, rgba(034,204,234,0.10) 60%, rgba(034,204,234,0.0) 97%); 
     background: -ms-linear-gradient(left, rgba(69,70,61,0.0) 3%,rgba(216,100,38,0.10) 32%,rgba(252,176,48,0.35) 35%,rgba(253,215,79,1) 45%,rgba(253,254,225,1) 48%,rgba(253,254,225,1) 52%, rgba(024,194,214,1) 55%, rgba(034,204,234,0.10) 65%, rgba(034,204,234,0.10) 60%, rgba(034,204,234,0.0) 97%); 
     background: linear-gradient(left, rgba(69,70,61,0.0) 3%,rgba(216,100,38,0.10) 32%,rgba(252,176,48,0.35) 35%,rgba(253,215,79,1) 45%,rgba(253,254,225,1) 48%,rgba(253,254,225,1) 52%, rgba(024,194,214,1) 55%, rgba(034,204,234,0.10) 65%, rgba(034,204,234,0.10) 60%, rgba(034,204,234,0.0) 97%); 
  
    z-index: 1;
  
    -webkit-transform: rotateX(45deg);
    -moz-transform: rotateX(45deg);
    -ms-transform: rotateX(45deg);
    transform: rotateX(45deg);
  }
  
  #division {
    height: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    background-color: rgba(000,14,24,0.0);
    z-index: 1;
    cursor: ns-resize;
  }
  
  #coor {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    color: #fff;
  }
  
  #oceanRipple {
    background-image: repeating-linear-gradient(175deg,rgba(165,165,165,0.08) 43%, rgba(175,175,175,0.08) 45%, rgba(235,235,235,0.08) 49%, rgba(195,195,195,0.08) 50%, rgba(165,165,165,0.08) 54%);
    opacity: 0.5;
    position: absolute;
    left: 0%;
    bottom: 0px;
    width: 100%;
    height: 50%;
    z-index: 1;
  }
/*Sun Horizon Animation Ends*/
/*Sun Horizon Animation Ends*/
/*Sun Horizon Animation Ends*/





/* Cloud Animation Start*/
/* Cloud Animation Start*/
/* Cloud Animation Start*/


.backgroundcloud {
	width: 100%;
  height: 700px;
  position: relative;
  background: -webkit-linear-gradient(top, rgb(161,219,255) 0%,rgb(203,235,255) 53%,rgb(240,249,255) 100%); /* Chrome10+,Safari5.1+ */
  background-size: 100% 100%;
}

.clouds {
  width: 200x;
  height: 300px;
  position: absolute;
}

.cloud1 {
	top: 80px;
  z-index: 100;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 20s linear infinite;
  -moz-animation: move 20s linear infinite;
  -o-animation: move 20s linear infinite;
  animation: move 20s linear infinite;
}

.cloud2 {
	top: 240px;
  z-index: 20;
  fill: #eee;
  -webkit-animation: move 35s linear 10s infinite backwards;
  -moz-animation: move 35s linear 10s infinite backwards;
  -o-animation: move 35s linear 10s infinite backwards;
  animation: move 35s linear 10s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(1350px);}
}

/* Cloud Animation End*/
/* Cloud Animation End*/
/* Cloud Animation End*/