body
{
    margin: 0;
    padding:0;
    background: url( https://image.freepik.com/free-photo/rose-flowers-on-rustic-wooden-background-copy-space_1421-597.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    font-family: sans-serif;   
}
.title
{
    text-align: center;
    padding: 50px 0 20px;
}
.title h1
{
    margin: 0;
    padding: 0;
    color: #262626;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold;
    font-family: Chalkduster, fantasy;
    color: #fff;
}
.container
{
    width: 50%;
    height: 650px;
    background: #fff;
    margin: 0 auto;
    border: 2px solid #fff;
    box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.container .left
{
    float: left;
    width:50%;
    height: 650px;
    background: url(https://i.pinimg.com/564x/b1/ae/1c/b1ae1c14634b0ad7d82dce99beb5b351.jpg);
    background-size: cover;
    box-sizing: border-box;
}
.container .right
{
    float: right;
    width: 50%;
    height: 400px;
    box-sizing: border-box;
}
.formBox
{
    width:100%;
    padding: 80px 40px;
    box-sizing: border-box;
    background: #fff;
}
.formBox p
{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: rgb(133, 20, 20);
}
.formBox input
{
    width: 100%;
    margin-bottom:  20px;
}
.formBox input[text ="text"],
.formBox input[text ="Password"]
{
    border: none;
    border-bottom: 2px solid #a6af13;
    outline: none;
    height: 40px;
}
.formBox input[text ="text"]:focus,
.formBox input[text ="Password"]:focus,
{
    border-bottom:2pm solid #262626;
}
.formBox input[type = "submit"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: #490733;
    cursor: pointer;
}
.formBox input[type="submit"]:hover
{
    background: #f80faa;
}
.formBox a
{
    color: #262626;
    font-size:15px;
    font-weight: bold;
}